body{
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(102,102,102,1) 18%, rgba(71,71,71,1) 33%, rgba(44,44,44,1) 47%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 75%, rgba(28,28,28,1) 91%, rgba(43,43,43,1) 100%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(102,102,102,1) 18%,rgba(71,71,71,1) 33%,rgba(44,44,44,1) 47%,rgba(0,0,0,1) 61%,rgba(17,17,17,1) 75%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(102,102,102,1) 18%,rgba(71,71,71,1) 33%,rgba(44,44,44,1) 47%,rgba(0,0,0,1) 61%,rgba(17,17,17,1) 75%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
height: 100vh;
overflow: hidden;
}
h1{
	text-align: center;
	font-size: 3.75rem;
	margin-top: 30px;
	text-transform: uppercase;
	color: white;
}
.loginDiv{

	background-color: white;
	border-radius: 5px;
	min-height: 500px;
	margin-top: 15px;
}
